#root {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  gap: 4px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}
.footer {
  background-color: #004675;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 20px;
  margin-top: 40px;
}
.patrocinadors {
  font-size: small;
  padding-top: 20px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.player {
  display: flex;
  align-items: center;
  gap: 5px;
}

.player img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}
.top-teams {
  background-color: #004675; /* Set your desired background color */
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.bracket {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}
.space {
  padding-bottom: 20px;
}

.round {
  flex: 1;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  justify-content: space-around;
  max-width: calc(33.33% - 30px); /* Adjust the width of each round */
}

.match {
  margin: 15px 0;
  overflow: hidden;
  border-radius: 5px;
}

.team {
  color: #fff;
  padding: 10px 8px;
  background-color: #696868;
}
.team-cuatro {
  color: #fff;
  padding: 10px 8px;
  background-color: steelblue;
}

.team-ocho {
  color: #fff;
  padding: 10px 8px;
  background-color: #515050;
}

.team:nth-child(odd) {
  border-bottom: 1px solid #ffffff;
}
.team-cuatro:nth-child(odd) {
  border-bottom: 1px solid #ffffff;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
  text-align: center;
  margin-top: 20px;
}

/* Individual column styling */
.column {
  flex: 1;
  padding: 10px;
  max-width: 300px; /* Set a max width for each column */
}

@media screen and (max-width: 800px) {
  th,
  td {
    font-size: 14px;
    min-width: 120px;
  }
  .container {
    justify-content: center;
  }

  .column {
    max-width: 100%; /* Columns take full width on small screens */
    margin-bottom: 20px; /* Add space between rows */
  }

  .player img {
    width: 20px;
    height: 20px;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
  table {
    margin-bottom: 100px;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
  .round {
    max-width: calc(
      50% - 30px
    ); /* Adjust the width of each round for smaller screens */
  }
}
